<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]=" false">
      
      <mat-toolbar color="primary">Menu</mat-toolbar>

      <mat-nav-list>
        <a mat-list-item href="#">O nama</a>
        <hr>
        <a mat-list-item href="#">Naslovna</a>
        <hr>
        <a mat-list-item href="#">TEME:</a>
        <a mat-list-item (click)="novaKomponenta(Smartphones)">&nbsp; &nbsp; Smartphones</a>
        <a mat-list-item (click)="novaKomponenta(c)">&nbsp; &nbsp;Virtual Reality</a>
        <a mat-list-item (click)="novaKomponenta(b)">&nbsp; &nbsp;Artificial Intelligence</a>
        <a mat-list-item (click)="novaKomponenta(d)">&nbsp; &nbsp;Software</a>
        <hr>
        <a mat-list-item href="#">Istaknuti događaji</a>
        <a mat-list-item href="#">Kontakt</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content> 
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span  style="font-size: 32px; padding-left:450px; 
        text-transform: uppercase; font-family: 'Courier New', Courier, monospace; font-weight:bold; letter-spacing: 4px;">
        Tech Časopis</span>
        <span class="spacer"></span>

        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="Prijava()"
          *ngIf ="username">
          <mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon> </button>

          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="Odjava()"
          *ngIf ="!username">
          <mat-icon aria-label="Side nav toggle icon">power_settings_new</mat-icon> </button>
      </mat-toolbar>
    
      <!-- Add Content Here -->

      <ng-content></ng-content>
      <!--
      <p *ngIf = "this.aboutData === 'smartphones'">popis-clanaka works!</p>
      <h1 (click)="Clanak(a)">Nova komponenta</h1> -->

      <h1>ARTIFICIAL INTELLIGENCE</h1>

      <div class="articles">
        <div class="article" *ngFor="let clanak of AI">
          <div class="flexbox">
          <a (click)="Clanak(this.aboutData)"><img  class="popup" src="{{ clanak.slika }}">
          </a>
          <a (click)="Clanak(this.aboutData)"><h2>{{ clanak.naziv }}</h2>
          </a>
          </div>

          <p>Autor: {{ clanak.autor }}</p>
        </div>


      </div>
    
      <footer>
      <div class="footer-main-div" >
        <div class="footer-social-icons">
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-snapchat-ghost"></i></a></li>
          </ul>
        </div>
      
        <div class="footer-menu-one" >
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      
        <div class="footer-menu-two">
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Media</a></li>
          </ul>
        </div>
      
        <div class="footer-bottom">
          <p> Sponsored by: <a href="https://www.fesb.unist.hr/"> FESB </a></p>
        </div>

      </div>

      </footer>
    </mat-sidenav-content> 
</mat-sidenav-container>